.badge
{
	width: 24px;
	height: 24px;
	background-color: rgba(55,55,55,255);
	border-radius: 6px;
	border-width: 0px;
	margin-left: 1px;
	margin-right: 1px;
}

#icon
{
	position: absolute;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
}

#shadow
{
	position: absolute;
	left: -2px;
	top: 0px;
	right: -2px;
	bottom: -4px;
	
	background-image: resource("Vista/Textures/NodeShadow");
	-unity-slice-left: 2;
	-unity-slice-top: 2;
	-unity-slice-right: 2;
	-unity-slice-bottom: 2;
}